/* BASIC STYLES HERE */

body {
    background-color: #5f6f52;
}

.logo {
    object-fit: contain;
    width: 30%;
}

.custom-container {
    background-color: #a9b388;
    padding: 20px;
}

.footer {
    background-color: #374130;
    color: #a9b388;
}